/* Estilos generales para el header */
header {
    border-bottom: 1px solid #fe300b; 
    padding: 10px 0;
}

.container-navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.navbar-brand h1 {
    font-family: "Arima", system-ui;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.brand-name .text-important {
    color: #fe300b;
}

.navbar-nav {
    display: flex;
    gap: 20px; 
}

.nav-item {
    font-size: 1.1rem;
    color: #333; 
    transition: color 0.3s ease;
    padding: 10px 0;
}

.nav-item:hover {
    color: #fe300b; 
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
    .navbar-brand {
        margin-bottom: 15px;
    }
}