/* .nanum-gothic-regular BODY{
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.arima TITULOS{
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;Use a value from 100 to 700
    font-style: normal;
}
.roboto-mono BOTONES{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;Use a value from 100 to 700
    font-style: normal;
}
 */
/* Estilos generales de la página */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    background-color: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}


/* Botón para volver arriba*/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #fe300b;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; 
}

.back-to-top:hover {
    background-color: #981c06;
    color: #fff;
}

